<form id="user-data">
        <div class="row">
            <div class="twelvecol">
                <!-- Campaign offer -->
                <div class="offer">
                    <h1>Se alt du får GRATIS til babyen din!</h1>
                </div>          
            </div>
        </div>
            
        <div class="row">
            <div class="fourcol">
                <div class="steps">
                    <h2>Ditt bonustilbud</h2>
                        <img src="img/lulu_bonus.jpg" id="bonusoffers" alt="Bonuspakke fra Goboken"/>
                        <fieldset id="bonusoffer" class="bonusoffer radiogroup">
                            <ul>
                                <li>
                                    <input id="bonus1" type="checkbox" name="bonusoffers" value="WWWLULMB" data-image="bonus_lulu.jpg" checked />
                                    <label for="bonus1">JA TAKK! Jeg vil gjerne benytte meg av bonustilbudet og får tilsendt denne bokpakken til halv pris, kr 109 (ord.pris kr 218)</label>
                                </li>
                            </ul>
                        </fieldset>
                </div>
            </div>
        
            <div class="eightcol last">
                <div class="steps">
                    <h2>Hvor ønsker du varene levert?</h2>
                    <div class="row">
                        <div class="elevencol last">
                            <p><strong>Ja takk</strong>, jeg vil gjerne bli medlem og få tilsendt en <strong>GRATIS</strong> velkomstpakke. Jeg betaler kun kr 49 i porto.</p>

                        </div>
                    </div>
                    <div class="sixcol">
                        <fieldset id="customerid" class="signup-form">
                            <label for="name">Navn</label>
                            <input id="name" name="name" type="text">
                            <label for="email">E-post</label>
                            <input id="email" name="email" type="email">
                            <label for="childname">Barnets navn</label>
                            <input id="childname" name="childname" type="text">
                            <label for="childbirthday">Barnets termin/fødselsdato</label>
                            <input id="childbirthday" name="childbirthday" type="text">
                        </fieldset>
                    </div>

                    <div class="sixcol last">
                        <fieldset id="shippingaddress" class="signup-form">
                            <label for="address1">Adresse</label>
                            <input id="address1" name="address1" type="text">
                            <label for="zip">Postnummer</label>

                            <input id="zip" name="zip" type="tel">
                            <label for="city">Sted</label>
                            <input id="city" name="city" type="text">
                        </fieldset>

                        <div class="btn-holder">
                            <input class="campaign-btn" type="submit" value="Ja takk, send min gratis velkomstpakke">
                        </div>
                    </div>
                    
                    <!-- Start conditions text -->
                    <div class="row">
                        <div class="elevencol last">
                            <p class="conditions">Som medlem i Goboken får jeg en månedlig bokpakke så lenge jeg selv ønsker det – her er ingen krav til minstekjøp eller medlemstid, og jeg kan enkelt avbestille på nettet. Priser fra kun kroner 159-238 inklusive porto. Av og til får du også tilbud om mer innholdsrike pakker som koster litt ekstra.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
</form>
